In [3]:
""" 
Team 5 Analytics Challenge Group Assignment: Data Wrangling 

Authors: Andrew Bakker, Hutson Collins, Durrelle Maynard, Dario Santiago Lopez, and Chris Sawyer 
Collaborators: ChatGPT (OpenAI), which assisted in iterative troubleshooting, design 
decisions, and refining data-cleaning logic.

Beginning of Assignment: 
The first thing we want to do is import the libraries necessary for the given task 
In this case, we import pandas since we will be analyzing and creating dataframes, and any additional libraries 
that immediately comes to mind 
"""
# --- Step 1: Import libraries ---

import os 
from pathlib import Path
import pandas as pd

In [7]:
""" 
Since this is a team assignment, we will be implementing a way for every teammate to access the CSV files without 
directly asking for the file path where the CSV files are located. Instead, if they are already in the same directory, 
they can just start running the code 
"""

# --- Step 2: Open/Analyze the CSV files & Create DF's ---
# Get the directory where the current notebook is located
notebook_dir = Path().resolve()

# Point to CSV in the same directory
ar_csv = notebook_dir / "application-records.csv" # "ar" is application-records.csv abbreviated, so we don't have to type out a long variable 
pr_csv = notebook_dir / "personal-records.csv"    # "pr" is personal-records.csv abbreviated for the same reason above 

# Create the DataFrame  
ar_df = pd.read_csv(ar_csv)
pr_df = pd.read_csv(pr_csv)

# Take a quick peek of the sizes/shapes 
print("Shape Preview")
print("----------------------")
print("application-records.csv size: ", ar_df.shape)
print("personal-records.csv size: ", pr_df.shape)
print("----------------------\n")

# Now take a look at the actual dataframes (do them in two different cell blocks)
print("Now Previewing DataFrames")
print("application-records.csv")
ar_df

Shape Preview
----------------------
application-records.csv size:  (973457, 31)
personal-records.csv size:  (1000000, 6)
----------------------

Now Previewing DataFrames
application-records.csv

,record_id,fraud_bool,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month,email_domain
0,DFS-8761d350-d48c-4d57-8313-a73ec7b30405,0.0,0.986506,-1.0,25.0,40.0,0.006735,102.453711,AA,1059,...,1500.0,0.0,INTERNET,16.224843,linux,1.0,1.0,0.0,Jan.,NaN
1,DFS-65951f02-662a-4909-ab84-3289936bfb40,0.0,0.617426,-1.0,89.0,20.0,0.010095,-0.849551,AD,1658,...,1500.0,0.0,INTERNET,3.363854,other,1.0,1.0,0.0,Januray,outlook.com
2,DFS-25eb029b-0a0d-4181-b813-43a975817508,0.0,0.996707,9.0,14.0,40.0,0.012316,-1.490386,AB,1095,...,200.0,0.0,INTERNET,22.730559,windows,0.0,1.0,0.0,Jan.,icloud.com
3,DFS-fb26b2fb-08ca-4dbd-b16f-2c18c55860d7,0.0,0.475100,11.0,14.0,30.0,0.006991,-1.863101,AB,3483,...,200.0,0.0,INTERNET,15.215816,linux,1.0,1.0,0.0,January,yahoo.com
4,DFS-de98cb81-d607-4406-8c7e-03f6865d1393,0.0,0.842307,-1.0,29.0,40.0,5.742626,47.152498,AA,2339,...,200.0,0.0,INTERNET,3.743048,other,0.0,1.0,0.0,Januray,tech.info
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973452,DFS-7697628a-9c3a-4d67-ad55-08e5d2b93924,0.0,0.046317,-1.0,132.0,50.0,0.035818,-1.504382,AD,576,...,200.0,0.0,INTERNET,3.632310,linux,0.0,1.0,0.0,Augest,yandex.com
973453,DFS-6eab5e30-6405-426f-a12b-4d20d5696ad2,0.0,0.124690,-1.0,143.0,30.0,0.051348,-0.826239,AB,530,...,1500.0,0.0,INTERNET,NaN,other,0.0,1.0,0.0,Agust,zoho.com
973454,DFS-6d27b44a-d8fb-4fc1-b4be-cfddd2aa7ef0,0.0,0.824544,-1.0,193.0,30.0,0.009591,0.008307,AC,408,...,1000.0,0.0,INTERNET,1.504109,macintosh,0.0,1.0,0.0,August,lawfirm.legal
973455,DFS-9f45a081-7af3-4d2d-aadd-07b5f1460614,0.0,0.002480,52.0,3.0,30.0,0.023357,-1.313387,AB,707,...,200.0,0.0,INTERNET,1.378683,linux,1.0,1.0,0.0,Augest,business.org
973456,DFS-c80fef21-2d91-4e9d-b3e0-61a858f606cf,0.0,0.993391,-1.0,174.0,30.0,0.020422,14.942456,AA,655,...,200.0,0.0,INTERNET,1.947926,other,1.0,1.0,0.0,August,hotmail.com

In [8]:
# Take a peek at the other DataFrame
print("personal-records.csv")
pr_df

personal-records.csv

,record_id,income,salary,date_of_birth,employment_status,housing_status
0,DFS-8761d350-d48c-4d57-8313-a73ec7b30405,0.3,43382.0,13-02-1976,CB,BC
1,DFS-65951f02-662a-4909-ab84-3289936bfb40,0.8,118662.0,18-12-2003,CA,BC
2,DFS-25eb029b-0a0d-4181-b813-43a975817508,0.8,100778.0,NaN,CA,BC
3,DFS-fb26b2fb-08ca-4dbd-b16f-2c18c55860d7,0.6,77171.0,28-05-1993,CA,BC
4,DFS-de98cb81-d607-4406-8c7e-03f6865d1393,0.9,146953.0,21-Jun-76,CA,BC
...,...,...,...,...,...,...
999995,DFS-6eab5e30-6405-426f-a12b-4d20d5696ad2,0.8,99388.0,5/28/90,CA,BB
999996,DFS-6d27b44a-d8fb-4fc1-b4be-cfddd2aa7ef0,0.9,134419.0,3/2/86,CA,BA
999997,DFS-786918ab-7a1e-4d08-9ba2-e20f1d238de3,0.8,105000.0,21-Apr-10,CA,BE
999998,DFS-9f45a081-7af3-4d2d-aadd-07b5f1460614,0.9,135584.0,11/12/85,CA,BD
999999,DFS-c80fef21-2d91-4e9d-b3e0-61a858f606cf,0.6,83290.0,3/12/93,CA,BB

In [11]:
# Check to see if they have any columns in common 
print("Column Names")
print("application-records.csv columns:")
print(list(ar_df.columns))
print("\npersonal-records.csv columns:")
print(list(pr_df.columns))

Column Names
application-records.csv columns
['record_id', 'fraud_bool', 'name_email_similarity', 'prev_address_months_count', 'current_address_months_count', 'customer_age', 'days_since_request', 'intended_balcon_amount', 'payment_type', 'zip_count_4w', 'velocity_6h', 'velocity_24h', 'velocity_4w', 'bank_branch_count_8w', 'date_of_birth_distinct_emails_4w', 'credit_risk_score', 'email_is_free', 'phone_home_valid', 'phone_mobile_valid', 'bank_months_count', 'has_other_cards', 'proposed_credit_limit', 'foreign_request', 'source', 'session_length_in_minutes', 'device_os', 'keep_alive_session', 'device_distinct_emails_8w', 'device_fraud_count', 'month', 'email_domain']

personal-records.csv columns
['record_id', 'income', 'salary', 'date_of_birth', 'employment_status', 'housing_status']

In [13]:
"""
So, the only columns the two datasets share is record_id. However, personal-records.csv has significantly more rows than 
application-records.csv. So, my (Dario's) thought process is to see if they have any duplicates in either of the datasets 
since I would consider cleaning pr_df (since it has 6 rows) and then consider merging them into one dataset. 
""" 
# Check for duplicates in both 'record_id' columns in each of the datasets 
print("AR duplicate IDs:", ar_df['record_id'].duplicated().sum())
print("PR duplicate IDs:", pr_df['record_id'].duplicated().sum())

# Also check for shared, extra, and total length of the column 
ar_ids = set(ar_df['record_id'])
pr_ids = set(pr_df['record_id'])

print("\nAR IDs:", len(ar_ids))
print("PR IDs:", len(pr_ids))
print("Shared IDs:", len(ar_ids & pr_ids))
print("Extra in PR:", len(pr_ids - ar_ids))
print("Extra in AR:", len(ar_ids - pr_ids))

AR duplicate IDs: 4437
PR duplicate IDs: 4563

AR IDs: 969020
PR IDs: 995437
Shared IDs: 969020
Extra in PR: 26417
Extra in AR: 0

In [14]:
"""Analyze the duplicates to help with how we will move forward. Specifically, look at the values in the duplicates""" 
# Look at a few duplicate examples in AR
ar_dupes = ar_df[ar_df['record_id'].duplicated(keep=False)]
print("AR duplicate sample:")
display(ar_dupes.sort_values('record_id').head(10))

# Look at a few duplicate examples in PR
pr_dupes = pr_df[pr_df['record_id'].duplicated(keep=False)]
print("PR duplicate sample:")
display(pr_dupes.sort_values('record_id').head(10))

AR duplicate sample:

,record_id,fraud_bool,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month,email_domain
75,NaN,0.0,0.069859,52.0,5.0,20.0,0.014710,-1.496057,AB,4696,...,200.0,0.0,INTERNET,8.914767,other,1.0,1.0,0.0,Jan.,work.net
258,NaN,0.0,0.833103,48.0,12.0,20.0,0.007264,-1.045855,AD,657,...,200.0,0.0,INTERNET,4.736630,other,1.0,2.0,0.0,Jan,protonmail.com
550,NaN,0.0,0.828721,-1.0,44.0,60.0,0.034678,9.235000,AA,996,...,1500.0,0.0,INTERNET,15.795022,other,1.0,1.0,0.0,Janaury,gmail.com
778,NaN,0.0,0.388398,-1.0,104.0,20.0,0.035392,-1.872951,AD,4899,...,200.0,0.0,INTERNET,5.071034,linux,1.0,1.0,0.0,Jan.,hotmail.com
817,NaN,0.0,0.788291,31.0,9.0,30.0,0.000090,-1.147014,AB,2181,...,1500.0,1.0,INTERNET,5.799692,other,1.0,1.0,0.0,Janaury,aol.com
902,NaN,0.0,0.923559,-1.0,67.0,NaN,0.022709,-0.629989,AB,801,...,1500.0,0.0,INTERNET,0.867307,macintosh,1.0,1.0,0.0,January,icloud.com
1404,NaN,0.0,0.037607,-1.0,173.0,40.0,0.005767,-1.110812,AD,1245,...,200.0,0.0,INTERNET,18.347532,other,0.0,1.0,0.0,Januray,hotmail.com
1480,NaN,0.0,0.572670,55.0,1.0,40.0,0.003892,-1.025478,AD,1527,...,200.0,0.0,INTERNET,31.302076,linux,1.0,1.0,0.0,Janaury,company.com
1500,NaN,0.0,0.469152,32.0,8.0,20.0,0.011235,51.979058,AB,1553,...,200.0,0.0,INTERNET,8.545390,linux,0.0,1.0,0.0,Januray,protonmail.com
1980,NaN,0.0,0.644323,-1.0,24.0,50.0,0.021920,-0.132999,AA,1476,...,200.0,0.0,INTERNET,7.693980,other,0.0,1.0,0.0,Janaury,work.net

PR duplicate sample:

,record_id,income,salary,date_of_birth,employment_status,housing_status
76,NaN,0.4,53084.0,3/30/02,CA,BC
263,NaN,0.1,15540.0,27-Jun-98,CA,BB
560,NaN,0.9,131403.0,2/1/60,CB,BC
792,NaN,0.1,23125.0,9/26/97,CB,BB
831,NaN,0.7,110371.0,20-May-93,CA,BB
918,NaN,0.9,135635.0,17-May-88,CB,BA
1438,NaN,0.9,131758.0,6/10/81,CA,BD
1517,NaN,0.6,86270.0,1-Jun-77,CA,BD
1537,NaN,0.8,119010.0,2/22/96,CA,BB
2031,NaN,0.6,76268.0,25-May-75,CA,BA

In [17]:
"""
So, based on the results above we can see that the 'duplicates' are not actually duplicates, but rather just NaNs. 
So, I (Dario) think it would be best to go on and drop them since they are missing their unique identifier. 
From there, down the road, the additional 'record_id' values that aren't found in application-records.csv 
will be dropped during an inner join since they are unmatched. I think this would be the best first step in 
the data wrangling/cleaning process since we would just be removing a bunch of noisy rows. 
"""
# --- Step 3: Remove rows with missing record_id ---

# Create variables to help show the shape of both DFs (before dropping duplicates) 
before_ar = ar_df.shape[0]
before_pr = pr_df.shape[0]

# Drop duplicates
ar_df = ar_df.dropna(subset=['record_id']).copy()
pr_df = pr_df.dropna(subset=['record_id']).copy()

print(f"AR rows removed: {before_ar - ar_df.shape[0]}")
print(f"PR rows removed: {before_pr - pr_df.shape[0]}")

# Confirm that there are no more duplicates 
print("AR duplicate IDs after drop:", ar_df['record_id'].duplicated().sum())
print("PR duplicate IDs after drop:", pr_df['record_id'].duplicated().sum())

AR rows removed: 0
PR rows removed: 0
AR duplicate IDs after drop: 0
PR duplicate IDs after drop: 0

In [18]:
# Take a quick peek at both df shapes again and ensure we actually removed the duplicates
print("AR Shape: ", ar_df.shape)
print("PR Shape: ", pr_df.shape)
print("\nUnique AR ID's:", ar_df['record_id'].nunique())
print("Unique PR ID's:", pr_df['record_id'].nunique())

AR Shape:  (969019, 31)
PR Shape:  (995436, 6)

Unique AR ID's: 969019
Unique PR ID's: 995436